<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>53611520350-emcqsroi797e2dp4p66lcfhrjd52a8em.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.53611520350-emcqsroi797e2dp4p66lcfhrjd52a8em</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>53611520350-6r6pgjdikm9i0b0sv4r8udh0jg970hh1.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCk8ngUM2hF85bM-1Bc0cSLqq0Rs2Ee9aU</string>
	<key>GCM_SENDER_ID</key>
	<string>53611520350</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.almed.ahu</string>
	<key>PROJECT_ID</key>
	<string>alemdahu-0107</string>
	<key>STORAGE_BUCKET</key>
	<string>alemdahu-0107.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:53611520350:ios:09c55a1bd9156af0d16fcf</string>
</dict>
</plist>